.yellow{
	background-color: #FFBC2F;
	padding-bottom: 3em;
	
}

.grey{
	background-color: grey;
	padding-bottom: 3em;
}
/*afecta a la palabra o letra o contenido*/
h4,h5{
	padding: 0.3em;
}

h5{
	color: white;
}